.C_title {
  position: absolute;
  left: 661px;
  top: 100px;
  font-family: "iCiel Koni Black";
  font-weight: 900;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;
}

.C_boxdetail {
  position: absolute;
  width: 750px;
  height: 488px;
  top: 220px;
  left: 250px;
}

.C_box_title {
  position: absolute;
  width: 650px;
  height: 60px;
  top: 272px;
  left: 315px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #23221f;
  opacity: 0.7;
}

.C_form {
  position: absolute;
  top: 365px;
  left: 315px;
}

.C_form input:hover{
  border-color: rgba(179, 91, 11, 0.5);
}

.C_form input:focus {
  border-color: rgba(179, 91, 11, 0.5);
  box-shadow: none;
}

.C_form textarea,
.C_form input {
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
}

.C_col1 input {
  width: 250px;
  height: 50px;
}

.C_col2 input {
  width: 350px;
  height: 50px;
  margin-left: -26px;
}

.C_col_center {
  width: 118vh;
  height: 100px;
}

.C_col_center textarea {
  resize: none;
}

.C_submit {
  position: absolute;
  background: #ff000a;
  width: 250px;
  height: 46px;
  top: -15px;
  left: 185px;
  box-shadow: 0px 4px 0px 0px #bd000b;
  border-radius: 10px;
}

.C_submit:hover {
  background: #ff000a !important;
}

.C_submit span {
  font-family: "iCiel Koni Black";
  font-weight: 900;
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.C_betrai {
  position: absolute;
  width: 300px;
  height: 450px;
  top: 270px;
  left: -10px;
}

.C_box {
  position: absolute;
  top: 205px;
  left: 1030px;
}

.C_box_child {
  width: 420px;
  height: 150px;
  margin-top: 15px;
}

.C_address {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 50px;
  left: 40px;
}

.C_add_text {
  position: absolute;
  width: 250px;
  height: 29px;
  top: 50px;
  left: 130px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #12265a;
}

.C_add_text2 {
  position: absolute;
  width: 250px;
  height: 52px;
  top: 80px;
  left: 130px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #23221f;
  opacity: 0.7;
}

.C_mail {
  top: 220px;
  left: 40px;
}

.C_mail_text {
  top: 225px;
  left: 130px;
}

.C_mail_text2 {
  top: 240px;
  left: 130px;
}

.C_telephone {
  top: 390px;
  left: 40px;
}

.C_telephone_text {
  top: 390px;
  left: 130px;
}

.C_telephone_text2 {
  top: 410px;
  left: 130px;
}
