.logoDS {
  position: absolute;
  width: 150px;
  height: 125px;
  top: 157px;
  left: 180px;
}

.H_DS > span {
  position: absolute;
  /* width: 322px;
  height: 100px; */
  left: 337px;
  top: 137px;
  font-family: "iCiel Koni Black";
  font-weight: 900;
  font-size: 58px;
  line-height: 100px;
  color: #ffffff;
  text-transform: uppercase;
}

.H_DS > span > span {
  position: absolute;
  font-family: "iCiel Koni Black";
  width: 177px;
  height: 80px;
  left: 10px;
  top: 66px;
}

.i021 {
  position: absolute;
  width: 87px;
  height: 144px;
  top: 65px;
  left: 809px;
}

.i031 {
  position: absolute;
  width: 105px;
  height: 165px;
  top: 180px;
  left: 687px;
}

.be4 {
  position: absolute;
  width: 668px;
  height: 320px;
  left: 820px;
  top: 73px;
}

.be2 {
  position: absolute;
  width: 30vh;
  height: 60vh;
  top: 295px;
  z-index: 1;
}

.bg2 {
  position: absolute;
  width: fit-content;
  height: 480px;
  top: 310px;
  left: 655px;
}

.boxve {
  position: absolute;
  width: 1220px;
  height: 430px;
  top: 305px;
  left: 180px;
}

.box_text {
  position: absolute;
  width: 650px;
  height: 150px;
  left: 230px;
  top: 350px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #23221f;
  opacity: 0.7;
}

.all_star ul {
  position: absolute;
  left: 200px;
  top: 470px;
  list-style: none;
}

.star {
  width: 20px;
  height: 23px;
}

.all_star span {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #23221f;
  opacity: 0.8;
  margin-left: 10px;
}

.H_form {
  position: absolute;
  left: 1000px;
  top: 400px;
}

.H_form_combo .ant-select-selector,
.H_form input {
  margin-top: -15px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
}

.H_form_col2 .ant-picker:hover,
.H_form_combo .ant-select-selector:hover,
.H_form input:hover {
  border-color: rgba(179, 91, 11, 0.5) !important;
}

.H_form_col2 .ant-picker-focused,
.H_form_combo .ant-select-focused .ant-select-selector,
.H_form input:focus {
  border-color: rgba(179, 91, 11, 0.5) !important;
  box-shadow: none !important;
}

.H_form_combo {
  margin-bottom: -8px;
  width: 310px;
}

.H_form_combo .ant-select-selector {
  align-items: center;
  width: 310px !important;
  height: 46px !important;
}

.H_form_combo span {
  position: absolute;
  width: 111px;
  height: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #23221f;
}

.H_form_input {
  width: 370px;
  height: 46px;
}

.H_dropdown {
  position: absolute;
  left: 330px;
  top: -47px;
  filter: drop-shadow(0px 3px 2px #de9959);
}

.H_form_col1 input {
  width: 120px;
  height: 46px;
}

.H_form_col2 .ant-picker {
  position: absolute;
  width: 175px;
  height: 46px;
  left: -34px;
  top: -14px;
  background: #ffffff;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
}

.H_form_col2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 360px;
}

.H_form_col2 input {
  margin-top: 0px;
  box-shadow: none;
  border-radius: 0px;
}

.ant-picker-footer {
  display: none;
}

.H_schedule {
  position: absolute;
  left: -11px;
  top: -15px;
  filter: drop-shadow(0px 3px 2px #de9959);
}

.H_form_col2 .ant-picker-input > input::placeholder,
.H_form_combo .ant-select-selector .ant-select-selection-placeholder,
.H_form .ant-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #989a9c;
  opacity: 0.5;
}

.H_submit {
  position: absolute;
  background: #ff000a;
  width: 250px;
  height: 40px;
  top: -18px;
  left: 55px;
  box-shadow: 0px 4px 0px 0px #bd000b;
  border-radius: 10px;
}

.H_submit:hover {
  background: #ff000a !important;
}

.H_submit span {
  font-family: "iCiel Koni Black";
  font-weight: 900;
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
